.concept-screen-1 {
  background-color: $green;
  padding-top: var(--offset50);
  padding-bottom: var(--offset150);
  display: grid;
  grid-template-columns: var(--field) repeat(8, 1fr) var(--field) var(--field) var(--field) repeat(11, 1fr) var(--field);
  grid-template-rows: 1fr;
  grid-auto-columns: 1fr;
  gap: 0 0;
  grid-auto-flow: row;
  grid-template-areas:
          ". grid-8 grid-8 grid-8 grid-8 grid-8 grid-8 grid-8 grid-8 . . . grid-11 grid-11 grid-11 grid-11 grid-11 grid-11 grid-11 grid-11 grid-11 grid-11 grid-11 .";
  .grid-8 {
    grid-area: grid-8;
  }
  .grid-11 {
    grid-area: grid-11;
  }
}
.concept-screen-2 {
  background-color: $blue;
}
.concept-screen-3 {
  background-color: $mint;
}
.concept-screen-4 {
  background-color: $green;
}
.concept-screen-5 {
  background-color: $blue;
}
.concept-screen-6 {
  background-color: $mint;
}
.concept-text-wrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  padding: 0 var(--field);
}
.concept-text {
  font-family: 'BPG';
  font-size: var(--font24);
  font-weight: 400;
  line-height: 140%;
  color: $wc;
  text-align: left;
  margin-top: 40px;
}
