#id-page-contacts {
  .first-screen-text {
    .title {
      margin-bottom: var(--offset50);
      @include to(1600px) {
        margin-bottom: 40px;
      }
      @include to(1024px) {
        margin-bottom: 50px;
      }
      @include to(575px) {
        margin-bottom: 40px;
      }
    }
  }
  .grid-8-8-16 {
    display: grid;
    grid-template-columns: repeat(24, 1fr);
    grid-template-rows: 1fr;
    grid-auto-columns: 1fr;
    gap: 0 0;
    grid-auto-flow: row;
    grid-template-areas:
    ". . . . . . . . grid-8 grid-8 grid-8 grid-8 grid-8 grid-8 grid-8 grid-8 . . . . . . . .";
    position: absolute;
    left: 0;
    top: 0;
    z-index: 1;
    width: 100%;
    @include to(1024px) {
      grid-template-areas:
    ". . . . . . . . . . . . grid-8 grid-8 grid-8 grid-8 grid-8 grid-8 grid-8 grid-8 grid-8 grid-8 grid-8 grid-8";
    }
    @include to(575px) {
      display: flex;
      align-items: center;
      justify-content: space-between;
    }
  }
  .map-head-wrapper {
    grid-area: grid-8;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    @include to(575px) {
      width: 100%;
    }
    .map-head-marker {
      height: 150px;
      min-width: 150px;
      background-color: $blue;
      display: flex;
      align-items: center;
      justify-content: center;
      img {
        height: 75px;
        width: 50px;
        object-fit: contain;
      }
      @include to(1600px) {
        height: 100px;
        min-width: 100px;
        img {
          width: 32px;
          height: 40px;
        }
      }
      @include to(575px) {
        height: 60px;
        min-width: 60px;
        img {
          width: 24px;
          height: 30px;
        }
      }
    }
    .map-head-text {
      height: 150px;
      width: 100%;
      background-color: $green;
      padding-left: 25px;
      padding-right: 150px;
      display: flex;
      align-items: center;
      justify-content: flex-start;
      @include to(1600px) {
        height: 100px;
        padding-left: 30px;
        padding-right: 130px;
      }
      @include to(1024px) {
        padding-right: 55px;
      }
      @include to(575px) {
        height: 60px;
        width: 100%;
        padding-left: 20px;
        padding-right: 0;
      }
    }
  }
  .map {
    width: 100%;
  }
  #map {
    width: 100%;
    height: 978px;
    @include to(1600px) {
      height: 695px;
    }
    @include to(575px) {
      height: 650px;
    }
  }
  form {
    height: 100%;
    position: static;
    width: 100%;
    @include to(575px) {
      padding: 72px var(--field);
    }
  }
  @include to(1024px) {
    .grid-8-16 {
      display: grid;
      grid-template-areas: "grid-8 grid-8 grid-8 grid-8 grid-8 grid-8 grid-8 grid-8 grid-8 grid-8 grid-8 grid-8 grid-16 grid-16 grid-16 grid-16 grid-16 grid-16 grid-16 grid-16 grid-16 grid-16 grid-16 grid-16";
      .grid-8 {
        height: 100%;
      }
    }
  }
}
.contacts-row-margin {
  margin-top: var(--offset20);
  @include to(1024px) {
    margin-top: 20px;
  }
}
.contacts-row {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  svg {
    height: var(--btn);
    width: var(--btn);
    fill: $green;
  }
  .white-text36 {
    margin-left: 30px;
    @include to(1600px) {
      margin-left: 20px;
    }
    @include to(575px) {
      margin-left: 10px;
    }
  }
}
.contacts-right-info {
  position: absolute;
  top: 271px;
  left: var(--field);
  z-index: 1;
  .light-text {
    margin-bottom: 11px;
    @include to(1600px) {
      margin-bottom: 10px;
    }
    &:last-child {
      margin-bottom: 0;
    }
  }
}

.contacts-row-mob {
  @include to(1024px) {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    &-right {
      margin-left: 173px;
      @include to(575px) {
        margin-left: 0;
        margin-top: 40px;
      }
      .light-text {
        margin-bottom: 10px;
      }
    }
    @include to(575px) {
      flex-direction: column;
    }
  }
}

#id-page-contacts .grid-8-16.contacts-screen {
  @include to(575px) {
    display: flex;
    flex-direction: column-reverse;
    align-items: flex-start;
    justify-content: flex-start;
    width: 100%;
    .grid-8 {
      width: 100%;
      border-right: none;
      border-top: 3px solid $wc;
    }
  }
}
