#id-page-gallery {
  background-color: $bc;
  .header {
    background: linear-gradient(180deg, #000000 0%, rgba(0, 0, 0, 0) 100%);
    @include to(575px) {
      background: #00B09CCC;
    }
  }
}

.gallery-wrapper {
  height: 100vh;
  width: 100%;
  overflow: hidden;
}

.gallery-container {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  height: 100%;
  width: 100%;
  overflow-y: scroll;
  overflow-x: hidden;
  padding: 122px 180px;
  @include to(1600px) {
    padding: 85px 134px;
  }
  @include to(1024px) {
    padding: 60px 42px;
  }
  @include to(575px) {
    padding: 50px 20px;
  }
}

.gallery-column {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: auto;
  &-img {
    height: 481px;
    width: 453px;
    overflow: hidden;
    margin-bottom: 122px;
    @include to(1600px) {
      margin-bottom: 85px;
    }
    @include to(1024px) {
      margin-bottom: 60px;
    }
    @include to(575px) {
      margin-bottom: 50px;
    }
    &:last-child {
      margin-bottom: 0;
    }
    img {
      height: 100%;
      width: auto;
      object-fit: cover;
    }
    @include to(1600px) {
      height: 333px;
      width: 314px;
    }
    @include to(1024px) {
      height: 224.44px;
      width: 211px;
    }
    @include to(575px) {
      height: 120px;
      width: 100px;
    }
  }
}

