.payment-screen {
  background-color: $mint;
  .concept-text {
    margin-top: 0;
    margin-bottom: 40px;
    @include to(1600px) {
      margin-bottom: 30px;
    }
  }
  @include to(1024px) {
    &.grid-8-16 {
      flex-direction: column;
    }
  }
}
