footer.border-right.border-left.border-bottom
    .footer
        ul.footer-menu
            li
                a(href="index.html" data-text="HOME").title.cubic-hover
                    span HOME
            li
                a(href="#" data-text="APARTMENTs").title.cubic-hover
                    span APARTMENTs
            li
                a(href="concept.html" data-text="Concept").title.cubic-hover
                    span Concept
            li
                a(href="#" data-text="GALLERY").title.cubic-hover
                    span GALLERY
            li
                a(href="#" data-text="developer").title.cubic-hover
                    span developer
            li
                a(href="contacts.html" data-text="Contact").title.cubic-hover
                    span Contacts
        ul.footer-links
            li
                a(href="tel:+995322552277").footer-text.black-underline-hover (+995) 32 255 22 77
            li
                a(href="mailto:SALES@UBANI.GE").footer-text.black-underline-hover SALES@UBANI.GE
            li
                .footer-text TBILISI, AVTO ARAZI STR. #42
            li
                a(href="#").footer-text.black-underline-hover instagram
            li
                a(href="#").footer-text.black-underline-hover facebook
            li
                a(href="#").footer-text.black-underline-hover youtube
        .pageup.circle-animation
            +svg('footer-arrow')
    .footer-bottom
        .footer-bottom-text © 2022 LISI GREEN URBAN.
        a(href="#").smarto
            img(src="assets/images/smarto-logo.svg")
    .footer-logo
        img(src="assets/images/footer-logo.svg")


