footer.border-right.border-left.border-bottom
    .footer
        ul.footer-menu
            li
                a(href="#").title HOME
            li
                a(href="#").title APARTMENTs
            li
                a(href="#").title Concept
            li
                a(href="#").title GALLERY
            li
                a(href="#").title developer
            li
                a(href="#").title Contact
        ul.footer-links
            li
                a(href="tel:+995322552277").footer-text (+995) 32 255 22 77
            li
                a(href="mailto:SALES@UBANI.GE").footer-text SALES@UBANI.GE
            li
                .footer-text TBILISI, AVTO ARAZI STR. #42
            li
                a(href="#").footer-text instagram
            li
                a(href="#").footer-text facebook
            li
                a(href="#").footer-text youtube
        +svg('footer-arrow').pageup
    .footer-bottom
        .footer-bottom-text © 2022 LISI GREEN URBAN.
        .smarto
            img(src="assets/images/smarto-logo.svg")
    .footer-logo
        img(src="assets/images/footer-logo.svg")


