header.header
    .header-left
        a(href='#').header-left-logo
          picture
            source(media="(max-width: 575px)" srcset="assets/images/lisi-green-urban.svg")
            img(src="assets/images/lisi-green-urban.svg")
        ul.header-left-lang
            li
                a(href="#").header-text GEO
            li
                a(href="#").header-text ENG
        a(href="#").header-3d
            +svg('arrow')
            .column
                .header-text 3D
                .header-text Tour
    .header-right
        a(href="#").header-3d
            +svg('arrow')
            .column
                .header-text Choose an
                .header-text apartment
        .header-right-close(data-open-menu)
            .line-wrapper
                span.first-line
                span
                span


