header.header
    //a(href='/').header__logo
    //  picture
    //    source(media="(min-width: 993px)" srcset="assets/images/logo.svg")
    //    source(media="(max-width: 992px)" srcset="assets/images/logo-mobile.svg")
    //    img(src="assets/images/logo.svg")
