-
  var menu = [
    ['HOME', 'index.html', 'HOME'],
    ['APARTMENTS', '#', 'APARTMENTS'],
    ['Concept', 'concept.html', 'Concept'],
    ['Gallery', 'gallery.html', 'Gallery'],
    ['Infrastructure', 'infrastructure.html', 'Infrastructure'],
    ['Payment', 'payment.html', 'Payment'],
    ['Developer', 'developer.html', 'Developer'],
    ['Contacts', 'contacts.html', 'Contact'],
  ]
.menu-wrap(data-menu data-disable-page-scroll).border-bottom.border-left.border-right.border-top.grid-16-8.relative.mob-border-right.mob-border-left.mob-border-top.mob-border-bottom
  .grid-16.relative.menu-wrap-nav.border-right.mob-border-bottom
    ul
      each el in menu
        li(data-animation)
          a(href=el[1] data-text=el[2]).title.cubic-hover
            span=el[0]
    .menu-wrap-nav-logo
      img(src="assets/images/footer-logo.svg")
  .grid-8.menu-wrap-right.column.mobile-row
    .border-bottom.h-50.mob-h-100.mob-w-50.mob-border-right.desktop-2
      img(src="assets/images/menu/1.jpg")
    .menu-wrap-right-contacts.h-50.relative.mob-h-100.mob-w-50
      ul
        li
          a(href="tel:+995322552277").header-text.white-underline-hover (+995) 32 255 22 77
        li
          a(href="mailto:SALES@UBANI.GE").header-text.white-underline-hover SALES@UBANI.GE
        li
          a(href="#").header-text.white-underline-hover TBILISI, AVTO ARAZI STR. #42
        li
          a(href="#").header-text.white-underline-hover instagram
        li
          a(href="#").header-text.white-underline-hover facebook
        li
          a(href="#").header-text.white-underline-hover youtube
  .menu-close(data-close-menu).circle-animation
    .line-wrapper
      span.first-line
      span
