-
  var menu = [
    ['HOME', '#'],
    ['APARTMENTs', '#'],
    ['Concept', '#'],
    ['Gallery', '#'],
    ['Infrastructure', '#'],
    ['Payment', '#'],
    ['Developer', '#'],
    ['Contact', '#'],
  ]
.menu-wrap(data-menu data-disable-page-scroll).border-bottom.border-left.border-right.border-top.grid-16-8.relative
  .grid-16.relative.menu-wrap-nav.border-right
    ul
      each el in menu
        li(data-animation)
          a(href=el[1]).title=el[0]
    .menu-wrap-nav-logo
      img(src="assets/images/footer-logo.svg")
  .grid-8.menu-wrap-right.column
    .border-bottom.h-50
      img(src="assets/images/menu/1.jpg")
    .menu-wrap-right-contacts.h-50.relative
      ul
        li
          a(href="tel:+995322552277").header-text (+995) 32 255 22 77
        li
          a(href="mailto:SALES@UBANI.GE").header-text SALES@UBANI.GE
        li
          .header-text TBILISI, AVTO ARAZI STR. #42
        li
          a(href="#").header-text instagram
        li
          a(href="#").header-text facebook
        li
          a(href="#").header-text youtube
  .menu-close(data-close-menu)
    .line-wrapper
      span.first-line
      span


