.contacts-thanks-wrap(data-contacts-thanks)
    .contacts-thanks
        +svg('form-arrow').thanks-popup-arrow
        .title Thank you!
        .thanks-popup-text Thank you for contacting us. Wait for a call from our managers. We wish you a pleasant day and good mood =)
        a(href="index.html").arrow-back
            +svg('arrow')
            .light-text Back to the website
        .menu-close(data-close-contacts-thanks)
            .line-wrapper
                span.first-line
                span
        .thanks-popup-logo
            img(src="assets/images/form-logo.svg")

