extends ../layout/main
block variable
	-
		var title_page = '404'
		var id_page = 'id-page-404'
		var class_page = 'class-page-404'

block meta
	title= title_page
	meta(name='description', content='')
block head
		link(rel='stylesheet', href="./assets/styles/main.min.css")
block scripts
	script(defer src='./assets/scripts/vendors.bundle.js')
	script(defer src='./assets/scripts/index.bundle.js')
	script(defer src='./assets/scripts/libs.js')
	script(src='./assets/scripts/index.js')
	script(defer src='./assets/scripts/header.js')
	script(defer src='./assets/scripts/text-animation.js')
	script(defer src='./assets/scripts/parallax-animation.js')

block content
	section(class="page404-wrap grid-8-16 relative border-top border-bottom border-right border-left mob-border-top mob-border-bottom mob-border-left mob-border-right")
		img(src="assets/images/404/1.png" alt="img" class="page404-wrap-dog")
		div(class="grid-8")
		div(class="page404 grid-16 relative")
			div(class="page404-logo")
				img(src="assets/images/footer-logo.svg")
			div(class="page404-text")
				h1(class="head-screen-title") 404
				p(class="light-text") There is no such page.
				p(class="concept-text") Start with the main or see what apartments we offer
				div(class="link-wrap")
					a(class="header-3d" href="index.html")
						+svg('arrow')
						.column
							.header-text Home
							.header-text page
					a(class="header-3d" href="#")
						+svg('arrow')
						.column
							.header-text Choose an
							.header-text apartment


block header
	include ../includes/header.pug

