
extends ../layout/main
block variable
  -
    var title_page = 'gallery'
    var id_page = 'id-page-gallery'
    var class_page = 'class-page-gallery'

block meta
  title= title_page
  meta(name='description', content='')
block head
    link(rel='stylesheet', href="./assets/styles/main.min.css")
block scripts
  script(defer src='./assets/scripts/vendors.bundle.js')
  script(defer src='./assets/scripts/index.bundle.js')
  script(defer src='./assets/scripts/libs.js')
  script(defer src='./assets/scripts/index.js')
  script(defer src='./assets/scripts/header.js')
  script(defer src='./assets/scripts/gallery.js')
block content
  .gallery-wrapper
    .gallery-container
      .gallery-column
        .gallery-column-img
          img(src="assets/images/gallery/1.jpg" alt="gallery")
        .gallery-column-img
          img(src="assets/images/gallery/2.jpg" alt="gallery")
        .gallery-column-img
          img(src="assets/images/gallery/1.jpg" alt="gallery")
      .gallery-column.middle-column
        .gallery-column-img
          img(src="assets/images/gallery/3.jpg" alt="gallery")
        .gallery-column-img
          img(src="assets/images/gallery/4.jpg" alt="gallery")
        .gallery-column-img
          img(src="assets/images/gallery/3.jpg" alt="gallery")
      .gallery-column
        .gallery-column-img
          img(src="assets/images/gallery/5.jpg" alt="gallery")
        .gallery-column-img
          img(src="assets/images/gallery/6.jpg" alt="gallery")
        .gallery-column-img
          img(src="assets/images/gallery/5.jpg" alt="gallery")
block header
  include ../includes/header.pug
