
extends ../layout/main
block variable
  -
    var title_page = 'gallery'
    var id_page = 'id-page-gallery'
    var class_page = 'class-page-gallery'
block meta
  title= title_page
  meta(name='description', content='')
block head
  link(rel='stylesheet', href="./assets/styles/main.min.css")
block scripts
  script(defer src='./assets/scripts/vendors.bundle.js')
  script(defer src='./assets/scripts/index.bundle.js')
  script(defer src='./assets/scripts/libs.js')
  script(defer src='./assets/scripts/index.js')
  script(defer src='./assets/scripts/loader.js')
  script(defer src='./assets/scripts/header.js')
  script(defer src='./assets/scripts/gallery.js')
block content
  .gallery-wrapper
    .gallery-container.columns(data-scroll-container)
      .gallery-column.left-right-column.column-wrap.column-wrap--height
        .column
          .gallery-column-img.column__item
            .column__item-imgwrap(data-pos="1")
              img(src="assets/images/gallery/1.jpg" alt="gallery").column__item-img
          .gallery-column-img.column__item
            .column__item-imgwrap(data-pos="2")
              img(src="assets/images/gallery/2.jpg" alt="gallery").column__item-img
          .gallery-column-img.column__item
            .column__item-imgwrap(data-pos="3")
              img(src="assets/images/gallery/3.jpg" alt="gallery").column__item-img
          .gallery-column-img.column__item
            .column__item-imgwrap(data-pos="4")
              img(src="assets/images/gallery/4.jpg" alt="gallery").column__item-img
          .gallery-column-img.column__item
            .column__item-imgwrap(data-pos="5")
              img(src="assets/images/gallery/5.jpg" alt="gallery").column__item-img
          .gallery-column-img.column__item
            .column__item-imgwrap(data-pos="6")
              img(src="assets/images/gallery/1.jpg" alt="gallery").column__item-img
          .gallery-column-img.column__item
            .column__item-imgwrap(data-pos="7")
              img(src="assets/images/gallery/3.jpg" alt="gallery").column__item-img
      .gallery-column.middle-column.column-wrap
        .column(data-scroll-section)
          .gallery-column-img.column__item
            .column__item-imgwrap(data-pos="8")
              img(src="assets/images/gallery/1.jpg" alt="gallery").column__item-img
          .gallery-column-img.column__item
            .column__item-imgwrap(data-pos="9")
              img(src="assets/images/gallery/2.jpg" alt="gallery").column__item-img
          .gallery-column-img.column__item
            .column__item-imgwrap(data-pos="10")
              img(src="assets/images/gallery/3.jpg" alt="gallery").column__item-img
          .gallery-column-img.column__item
            .column__item-imgwrap(data-pos="11")
              img(src="assets/images/gallery/4.jpg" alt="gallery").column__item-img
          .gallery-column-img.column__item
            .column__item-imgwrap(data-pos="12")
              img(src="assets/images/gallery/5.jpg" alt="gallery").column__item-img
          .gallery-column-img.column__item
            .column__item-imgwrap(data-pos="13")
              img(src="assets/images/gallery/6.jpg" alt="gallery").column__item-img
          .gallery-column-img.column__item
            .column__item-imgwrap(data-pos="14")
              img(src="assets/images/gallery/2.jpg" alt="gallery").column__item-img
      .gallery-column.left-right-column.column-wrap.column-wrap--height
        .column
          .gallery-column-img.column__item
            .column__item-imgwrap(data-pos="15")
              img(src="assets/images/gallery/1.jpg" alt="gallery").column__item-img
          .gallery-column-img.column__item
            .column__item-imgwrap(data-pos="16")
              img(src="assets/images/gallery/2.jpg" alt="gallery").column__item-img
          .gallery-column-img.column__item
            .column__item-imgwrap(data-pos="17")
              img(src="assets/images/gallery/3.jpg" alt="gallery").column__item-img
          .gallery-column-img.column__item
            .column__item-imgwrap(data-pos="18")
              img(src="assets/images/gallery/4.jpg" alt="gallery").column__item-img
          .gallery-column-img.column__item
            .column__item-imgwrap(data-pos="19")
              img(src="assets/images/gallery/5.jpg" alt="gallery").column__item-img
          .gallery-column-img.column__item
            .column__item-imgwrap(data-pos="20")
              img(src="assets/images/gallery/6.jpg" alt="gallery").column__item-img
          .gallery-column-img.column__item
            .column__item-imgwrap(data-pos="21")
              img(src="assets/images/gallery/1.jpg" alt="gallery").column__item-img
  .heading.heading--down.head-screen-title Gallery
  .content
    .content__item
    .content__item
    .content__item
    .content__item
    .content__item
    .content__item
    .content__item
    .content__item
    .content__item
    .content__item
    .content__item
    .content__item
    .content__item
    .content__item
    .content__item
    .content__item
    .content__item
    .content__item
    .content__item
    .content__item
    .content__item
    nav.content__nav(style='opacity: 1;')
      .content__nav-wrap
        .content__nav-item(style='background-image: url("assets/images/gallery/3.jpg"); opacity: 0; transform: translate(0px, 223.042%);')
        .content__nav-item(style='background-image: url("assets/images/gallery/3.jpg"); opacity: 0; transform: translate(0px, 223.042%);')
        .content__nav-item(style='background-image: url("assets/images/gallery/3.jpg"); opacity: 0; transform: translate(0px, 223.042%);')
        .content__nav-item(style='background-image: url("assets/images/gallery/3.jpg"); opacity: 0; transform: translate(0px, 223.042%);')
        .content__nav-item(style='background-image: url("assets/images/gallery/3.jpg"); opacity: 0; transform: translate(0px, 223.042%);')
        .content__nav-item(style='background-image: url("assets/images/gallery/3.jpg"); opacity: 0; transform: translate(0px, 223.042%);')
        .content__nav-item(style='background-image: url("assets/images/gallery/3.jpg"); opacity: 0; transform: translate(0px, 223.042%);')
        .content__nav-item(style='background-image: url("assets/images/gallery/3.jpg"); opacity: 1; transform: translate(0px, 0%);')
        .content__nav-item(style='background-image: url("assets/images/gallery/3.jpg"); opacity: 1; transform: translate(0px, 0%);')
        .content__nav-item(style='background-image: url("assets/images/gallery/3.jpg"); opacity: 0; transform: translate(0px, 223.042%);')
        .content__nav-item(style='background-image: url("assets/images/gallery/3.jpg"); opacity: 0; transform: translate(0px, 223.042%);')
        .content__nav-item(style='background-image: url("assets/images/gallery/3.jpg"); opacity: 0; transform: translate(0px, 223.042%);')
        .content__nav-item(style='background-image: url("assets/images/gallery/3.jpg"); opacity: 0; transform: translate(0px, 223.042%);')
        .content__nav-item(style='background-image: url("assets/images/gallery/3.jpg"); opacity: 0; transform: translate(0px, 223.042%);')
        .content__nav-item(style='background-image: url("assets/images/gallery/3.jpg"); opacity: 0; transform: translate(0px, 223.042%);')
        .content__nav-item(style='background-image: url("assets/images/gallery/3.jpg"); opacity: 0; transform: translate(0px, 223.042%);')
        .content__nav-item(style='background-image: url("assets/images/gallery/3.jpg"); opacity: 0; transform: translate(0px, 223.042%);')
        .content__nav-item(style='background-image: url("assets/images/gallery/3.jpg"); opacity: 0; transform: translate(0px, 223.042%);')
        .content__nav-item(style='background-image: url("assets/images/gallery/3.jpg"); opacity: 1; transform: translate(0px, 0%);')
        .content__nav-item(style='background-image: url("assets/images/gallery/3.jpg"); opacity: 1; transform: translate(0px, 0%);')
    button.button-back.unbutton(style='opacity: 1;')
      <svg width="12" height="12" viewBox="0 0 12 12" fill="none" xmlns="http://www.w3.org/2000/svg">
      <path d="M6 12V1.81766M6 1.81766L0.908831 6.90883M6 1.81766L11.0912 6.90883" stroke="black" stroke-width="1.5"/>
      </svg>



block header
  include ../includes/header.pug
