
extends ../layout/main
block variable
  -
    var title_page = 'home'
    var id_page = 'home-page'
    var class_page = 'home'
    var items = [{
      num: '3.0',
      text: 'British-Georgian Academy'
    },{
      num: '4.8',
      text: 'Goodwill'
    },{
      num: '8.2',
      text: 'Saakadze square'
    }, {
      num: '0.6',
      text: 'Tkhinvali'
    }, {
      num: '2.0',
      text: 'Mtsiknobartukhutsesi'
    }, {
      num: '2.9',
      text: 'Lisi lake'
    }, {
      num: '5.4',
      text: 'Metro Delisi'
    }, {
      num: '4.9',
      text: '112'
    }, {
      num: '3.3',
      text: 'Cafe Verde'
    }, {
      num: '2.3',
      text: 'Hippodrome'
    }]

block meta
  title= 'Главная'
  meta(name='description', content='')
block head
    link(rel='stylesheet', href="./assets/styles/main.min.css")
block scripts
  script(defer src='./assets/scripts/vendors.bundle.js')
  script(defer src='./assets/scripts/index.bundle.js')
  script(defer src='./assets/scripts/index.js')
  script(defer src='./assets/scripts/libs.js')
  script(defer src='./assets/scripts/loader.js')
  script(defer src='./assets/scripts/header.js')
  script(defer src='./assets/scripts/footer.js')
  script(defer src='./assets/scripts/home.js')
  script(defer src='./assets/scripts/text-animation.js')
  script(defer src='./assets/scripts/parallax-animation.js')
block content
  section.head-screen.grid-16-8.border-top.border-right.border-bottom.border-left.mob-border-top.mob-border-left.mob-border-right.mob-border-bottom
    .grid-16.mob-border-bottom
      .green-block.border-right
        .head-screen-block-1.relative.animation-1
          .main-background-1
          .logo-background
            <svg class="desktop" width="1018" height="654" viewBox="0 0 1018 654" fill="none" xmlns="http://www.w3.org/2000/svg">
              <g clip-path="url(#clip0_2_3)">
                <path d="M254.103 936.328C275.966 952.219 296.615 968.109 318.478 984C446.011 891.101 571.116 804.313 676.786 702.857L637.919 647.851L254.103 936.328ZM150.862 859.319C161.793 867.876 171.51 875.21 182.442 882.544C189.729 887.434 195.802 892.323 203.09 898.435L637.919 567.175L722.942 658.852C737.517 644.184 750.877 628.293 765.453 612.403L637.919 486.499L150.862 859.319ZM50.0494 779.866C67.0539 793.312 84.0584 806.758 99.8483 820.204L637.919 404.601L804.32 562.286C816.466 545.173 828.612 528.06 839.544 510.947L637.919 323.926L50.0494 779.866ZM-47.1191 696.745C-31.3292 710.191 -15.5394 724.86 0.250534 738.306L637.919 243.25L872.338 455.94C882.055 437.605 891.772 418.047 900.274 398.49L637.919 162.574L-47.1191 696.745ZM-137 606.291C-124.854 620.959 -110.279 635.627 -94.4888 652.741L637.919 80.6758L924.566 336.149C931.854 315.369 937.927 293.366 944 271.364L637.919 0L-137 606.291Z"/>
              </g>
              <defs>
                <clipPath id="clip0_2_3">
                  <rect width="1018" height="654"/>
                </clipPath>
              </defs>
            </svg>
            <svg class="mobile" width="725" height="466" viewBox="0 0 725 466" fill="none" xmlns="http://www.w3.org/2000/svg">
              <g clip-path="url(#clip0_552_5784)">
                <path d="M180.205 667.446C195.784 678.769 210.497 690.092 226.076 701.416C316.953 635.218 406.099 573.376 481.397 501.081L453.701 461.885L180.205 667.446ZM106.638 612.572C114.427 618.669 121.351 623.895 129.14 629.121C134.333 632.605 138.661 636.089 143.854 640.444L453.701 404.398L514.285 469.725C524.671 459.272 534.192 447.949 544.578 436.626L453.701 346.911L106.638 612.572ZM34.8016 555.956C46.9185 565.537 59.0354 575.118 70.2868 584.699L453.701 288.552L572.274 400.914C580.928 388.72 589.583 376.526 597.373 364.331L453.701 231.065L34.8016 555.956ZM-34.438 496.726C-23.1866 506.307 -11.9352 516.76 -0.683746 526.341L453.701 173.578L620.741 325.135C627.665 312.07 634.589 298.134 640.648 284.198L453.701 116.091L-34.438 496.726ZM-98.4846 432.271C-89.8297 442.723 -79.4437 453.175 -68.1923 465.37L453.701 57.7324L657.957 239.775C663.15 224.968 667.478 209.29 671.805 193.611L453.701 0.245117L-98.4846 432.271Z"/>
              </g>
              <defs>
                <clipPath id="clip0_552_5784">
                  <rect width="725" height="466"/>
                </clipPath>
              </defs>
            </svg>
          .building
          .building-2
          .linear-gradient
          .head-screen-title-wrapper
            .head-screen-title.lisi Lisi
            .head-screen-title.green Green
            .head-screen-title.urban Urban
    .grid-8.column.mobile-row.relative
      .mouse-wrapper.desktop-2
        +svg('mouse')
      .blue-block.border-bottom.h-50.mob-h-100.mob-w-50.mob-border-right.desktop-2
        .head-screen-block-2.animation-2.relative
          .main-background-2
          .building
          .building-2
      .mint-block.h-50.mob-h-100.mob-w-50
        .head-screen-block-3.relative.animation-3
          .main-background-3
          .building
          .building-2
          .head-screen-text-wrapper
            a(href="tel:+995322552277").head-screen-text.white-underline-hover (+995) 32 255 22 77
            a(href="mailto:SALES@UBANI.GE").head-screen-text.margin-bottom.white-underline-hover SALES@UBANI.GE
            a(href="#").head-screen-text.margin-bottom.text-width.white-underline-hover TBILISI, AVTO VARAZI STR. #42
            a(href="#").head-screen-text.white-underline-hover instagram
            a(href="#").head-screen-text.white-underline-hover facebook
            a(href="#").head-screen-text.white-underline-hover youtube
  section.advantages-screen.border-left.border-right.padding300-top.mob-border-left.mob-border-right.mob-border-bottom
    .advantages-1.relative.border-top.border-right.border-bottom.mob-border-top
      img(src="assets/images/advantages-screen/1.jpg")
      .dark-text.top--first-text We care about the environment and in order to minimize its pollution solar power batteries have been installed here, which will give light in public spaces, entrances, parking and landscaped paths.
    .advantages-title.relative
      .title WHY DID YOU CHOOSE LISI GREEN URBAN?
      .advantages-title-logo
        img(src="assets/images/advantages-screen/logo.svg")
    .advantages-2.relative.border-top.border-bottom.border-right.mob-border-top.mob-border-right
      img(src="assets/images/advantages-screen/2.jpg")
      .dark-text.bottom-text 92 Indoor parking
    .advantages-3.relative.border-top.border-bottom.mob-border-top
      img(src="assets/images/advantages-screen/3.jpg")
      .dark-text.bottom-text Event Room
    .advantages-4.border-bottom.border-right.relative.mob-border-top.mob-border-right
      img(src="assets/images/advantages-screen/4.jpg")
      .dark-text.bottom-text.width-45 We promote a healthy lifestyle, that's why you can practice near home.
    .advantages-5.relative.border-bottom.mob-border-top
      img(src="assets/images/advantages-screen/5.jpg")
      .light-text.bottom-text Bicycle lane and Walking alley
    .advantages-6.relative.border-bottom.mob-border-top
      .linear-gradient.mobile-2
      img(src="assets/images/advantages-screen/6.jpg")
      .light-text.bottom-text.width-40  Green yard (with squirrels, hedgehogs, rabbits on the territory)
    .advantages-7.relative.border-bottom.border-right.mob-border-top.mob-border-right
      img(src="assets/images/advantages-screen/7.jpg")
      .light-text.bottom-text Different entrance
    .advantages-8.relative.border-bottom.mob-border-top
      img(src="assets/images/advantages-screen/8.jpg")
      .light-text.top-text Gazebo and Hammocks
    .advantages-9.relative.border-bottom.border-left.mob-border-top
      img(src="assets/images/advantages-screen/9.jpg")
      .light-text.bottom-text.width-60 Arranged Separate playground for children
  section.location-screen.border-left.border-right.border-bottom.padding300-top.padding300-bottom.mob-border-left.mob-border-right.mob-border-bottom
    .grid-10-12.location-screen-head
      .grid-10
        .title European District
      .grid-12
        .dark-text.desktop Leaders of the capital city of the United Arab Emirates Abu Dhabi planned to develop the world’s first carbon free city within next 10 years. This city will be a green example in which the emission of harmful gases will be maximized and the fuel consumption will be minimized.
    .grid-10-12.relative
      .grid-10.location-screen-mobile
        .iframe-wrapper
          <iframe width="560" height="315" src="https://www.youtube.com/embed/vah4_vQE4KQ" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        .dark-text.mobile Leaders of the capital city of the United Arab Emirates Abu Dhabi planned to develop the world’s first carbon free city within next 10 years. This city will be a green example in which the emission of harmful gases will be maximized and the fuel consumption will be minimized.
      ul.grid-12.location-screen-list
        each i in items
          li.location-screen-list-item
            .title.location-screen-list-item-num-offset= i.num
            .dark-text km
            .dark-text.location-screen-list-item-text-offset=i.text
  section.apartment-screen.border-right.border-left.border-bottom.grid-16-8.mob-border-right.mob-border-left.mob-border-bottom
    .grid-16.border-right.apartment-screen-block.relative.mob-border-bottom
      img(src="assets/images/apartment/1.jpg").animation-img
      .apartment-screen-block-text
        .title Choose an apartment
        .right-text-wrapper
          .light-text This city will be a green example in which the emission of harmful gases will
          a(href="#").animation-arrow
            +svg('arrow')
    .grid-8.column.mobile-row
      img(src="assets/images/apartment/2.jpg").border-bottom.mob-h-100.mob-w-50.mob-border-right
      img(src="assets/images/apartment/3.jpg").mob-h-100.mob-w-50

block footer
  include ../includes/footer.pug

block header
  include ../includes/header.pug
