
extends ../layout/main
block variable
  -
    var title_page = 'infrastructure'
    var id_page = 'id-page-infrastructure'
    var class_page = 'class-page-infrastructure'
    var breadcrumbsSubitem = [
      {
        label: 'Infrastructure',
        link: pagesLink[0].infrastructure
      }
    ]

block meta
  title= title_page
  meta(name='description', content='')
block head
    link(rel='stylesheet', href="./assets/styles/main.min.css")
block scripts
  script(defer src='./assets/scripts/vendors.bundle.js')
  script(defer src='./assets/scripts/index.bundle.js')
  script(defer src='./assets/scripts/libs.js')
  script(defer src='./assets/scripts/index.js')
  script(defer src='./assets/scripts/header.js')
  script(defer src='./assets/scripts/footer.js')
  script(defer src='./assets/scripts/text-animation.js')
  script(defer src='./assets/scripts/parallax-animation.js')
  script(defer src='./assets/scripts/infrastructure.js')
block content
  .first-screen.border-top.border-right.border-bottom.border-left.grid-16-8.mob-border-top.mob-border-left.mob-border-right
    .grid-16.border-right.mob-border-bottom.relative
      picture
        source(srcset="assets/images/infrastructure/1.jpg" media="(min-width: 575px)")
        img(src="assets/images/infrastructure/1-mob.jpg" alt="img")
      .first-screen-text
        .title= title_page
    .grid-8.first-screen-right
      .first-screen-right-logo
        img(src="assets/images/first-screen-logo.svg" alt="svg")
  .infrastructure-screen.border-bottom.border-right.border-left.mob-border-left.mob-border-right.mob-border-bottom
    .map(width="960px" height="900px")
      #map(width="960px" height="900px")
      .infastructure-markers__wrapper
        .infrastructure-markers__btn
          <svg width="14" height="8" viewBox="0 0 14 8" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M1 1L6.29289 6.29289C6.68342 6.68342 7.31658 6.68342 7.70711 6.29289L13 1" stroke="white" stroke-width="1.5" stroke-linecap="round"/>
          </svg>
        ul.infrastructure-markers__ul.opened(data-accordeon)
          li(data-marker data-type="lisi" data-category="lisi")
            img(src="assets/images/infrastructure/acardeon/1.svg")
            span.light-text LISI GREEN URBAN
          li(data-marker data-type="schools" data-category="schools")
            img(src="assets/images/infrastructure/acardeon/2.svg")
            span.light-text Schools
          li(data-marker data-type="kindergartens" data-category="kindergartens")
            img(src="assets/images/infrastructure/acardeon/3.svg")
            span.light-text Kindergartens
          li(data-marker data-type="medicine" data-category="medicine")
            img(src="assets/images/infrastructure/acardeon/4.svg")
            span.light-text Medicine
          li(data-marker data-type="shopping" data-category="shopping")
            img(src="assets/images/infrastructure/acardeon/5.svg")
            span.light-text Shopping center
          li(data-marker data-type="cafes" data-category="cafes")
            img(src="assets/images/infrastructure/acardeon/6.svg")
            span.light-text Cafes/restaurants
          li(data-marker data-type="relax" data-category="relax")
            img(src="assets/images/infrastructure/acardeon/7.svg")
            span.light-text Places to relax
          li(data-marker data-type="sports" data-category="sports")
            img(src="assets/images/infrastructure/acardeon/8.svg")
            span.light-text Sports and culture
  section.advantages-screen.border-left.border-right.padding300-top.mob-border-left.mob-border-right.mob-border-bottom
    .advantages-1.relative.border-top.border-right.border-bottom.mob-border-top
      img(src="assets/images/advantages-screen/1.jpg")
      .dark-text.top--first-text We care about the environment and in order to minimize its pollution solar power batteries have been installed here, which will give light in public spaces, entrances, parking and landscaped paths.
    .advantages-title.relative
      .title WHY DID YOU CHOOSE LISI GREEN URBAN?
      .advantages-title-logo
        img(src="assets/images/advantages-screen/logo.svg")
    .advantages-2.relative.border-top.border-bottom.border-right.mob-border-top.mob-border-right
      img(src="assets/images/advantages-screen/2.jpg")
      .dark-text.bottom-text 92 Indoor parking
    .advantages-3.relative.border-top.border-bottom.mob-border-top
      img(src="assets/images/advantages-screen/3.jpg")
      .dark-text.bottom-text Event Room
    .advantages-4.border-bottom.border-right.relative.mob-border-top.mob-border-right
      img(src="assets/images/advantages-screen/4.jpg")
      .dark-text.bottom-text.width-45 We promote a healthy lifestyle, that's why you can practice near home.
    .advantages-5.relative.border-bottom.mob-border-top
      img(src="assets/images/advantages-screen/5.jpg")
      .light-text.bottom-text Bicycle lane and Walking alley
    .advantages-6.relative.border-bottom.mob-border-top
      .linear-gradient.mobile-2
      img(src="assets/images/advantages-screen/6.jpg")
      .light-text.bottom-text.width-40  Green yard (with squirrels, hedgehogs, rabbits on the territory)
    .advantages-7.relative.border-bottom.border-right.mob-border-top.mob-border-right
      img(src="assets/images/advantages-screen/7.jpg")
      .light-text.bottom-text Different entrance
    .advantages-8.relative.border-bottom.mob-border-top
      img(src="assets/images/advantages-screen/8.jpg")
      .light-text.top-text Gazebo and Hammocks
    .advantages-9.relative.border-bottom.border-left.mob-border-top
      img(src="assets/images/advantages-screen/9.jpg")
      .light-text.bottom-text.width-60 Arranged Separate playground for children


block footer
  include ../includes/footer.pug

block header
  include ../includes/header.pug
