
extends ../layout/main
block variable
  -
    var title_page = 'payment'
    var id_page = 'id-page-payment'
    var class_page = 'class-page-payment'

block meta
  title= title_page
  meta(name='description', content='')
block head
    link(rel='stylesheet', href="./assets/styles/main.min.css")
block scripts
  script(defer src='./assets/scripts/vendors.bundle.js')
  script(defer src='./assets/scripts/index.bundle.js')
  script(defer src='./assets/scripts/libs.js')
  script(defer src='./assets/scripts/index.js')
  script(defer src='./assets/scripts/loader.js')
  script(defer src='./assets/scripts/header.js')
  script(defer src='./assets/scripts/footer.js')
  script(defer src='./assets/scripts/text-animation.js')
  script(defer src='./assets/scripts/parallax-animation.js')
block content
  .first-screen.border-top.border-right.border-bottom.border-left.grid-16-8.mob-border-top.mob-border-right.mob-border-left
    .grid-16.border-right.mob-border-bottom.relative
      picture
        source(srcset="assets/images/payment/1.jpg" media="(min-width: 575px)")
        img(src="assets/images/payment/1-mob.jpg" alt="img")
      .first-screen-text
        .title= title_page
    .grid-8.first-screen-right
      .first-screen-right-logo
        img(src="assets/images/first-screen-logo.svg" alt="svg")
  .payment-screen.border-right.border-left.border-bottom.grid-8-16.mob-border-bottom.mob-border-right.mob-border-left
    .grid-8.border-right.concept-text-wrapper
      .concept-text The “Green Development” offers various payment options for individuals and legal entities.
      .concept-text You can choose for yourself a flexible calculation scheme and purchase an apartment in LISI GREEN URBAN.
      a(href="#").header-3d
        +svg('arrow')
        .column
          .header-text Choose an
          .header-text apartment
    .grid-16.mob-border-top
      img(src="assets/images/payment/2.jpg" alt="img").mobile-img-h


block footer
  include ../includes/footer.pug

block header
  include ../includes/header.pug
