.page__inner {
  	position: relative;
	display: flex;
	flex-direction: column;
	z-index: 2;
	min-height: 100vh;
	height: auto;
	.page__content {
		flex-grow: 1;
	}
	.page__footer-wrapper {
		flex-shrink: 0;
	}
}
.column {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	justify-content: flex-start;
}
.h-50 {
	height: 50%;
}
.relative {
	position: relative;
}
.border-top {
	@include from(1023px) {
		border-top: 3px solid $wc;
	}
}
.border-right {
	@include from(1023px) {
		border-right: 3px solid $wc;
	}
}
.border-bottom {
	@include from(1023px) {
		border-bottom: 3px solid $wc;
	}
}
.border-left {
	@include from(1023px) {
		border-left: 3px solid $wc;
	}
}
.mob-border-top {
	@include to(1024px) {
		border-top: 3px solid $wc;
	}
}
.mob-border-right {
	@include to(1024px) {
		border-right: 3px solid $wc;
	}
}
.mob-border-bottom {
	@include to(1024px) {
		border-bottom: 3px solid $wc;
	}
}
.mob-border-left {
	@include to(1024px) {
		border-left: 3px solid $wc;
	}
}
.padding300-top {
	padding-top: var(--offset300);
	@include to(575px) {
		padding-top: 162px;
	}
}
.padding300-bottom {
	padding-bottom: var(--offset300);
	@include to(575px) {
		padding-bottom: 162px;
	}
}
.grid-16-8 {
	height: 100vh;
	display: grid;
	grid-template-columns: repeat(24, 1fr);
	grid-template-rows: 1fr;
	grid-auto-columns: 1fr;
	gap: 0 0;
	grid-auto-flow: row;
	grid-template-areas:
    "grid-16 grid-16 grid-16 grid-16 grid-16 grid-16 grid-16 grid-16 grid-16 grid-16 grid-16 grid-16 grid-16 grid-16 grid-16 grid-16 grid-8 grid-8 grid-8 grid-8 grid-8 grid-8 grid-8 grid-8";
	.grid-16 {
		grid-area: grid-16;
	}
	.grid-8 {
		grid-area: grid-8;
	}
	@include to(1024px) {
		grid-template-rows: 1fr .5fr;
		grid-template-areas:
						"grid-16 grid-16 grid-16 grid-16 grid-16 grid-16 grid-16 grid-16 grid-16 grid-16 grid-16 grid-16 grid-16 grid-16 grid-16 grid-16 grid-16 grid-16 grid-16 grid-16 grid-16 grid-16 grid-16 grid-16"
						"grid-8 grid-8 grid-8 grid-8 grid-8 grid-8 grid-8 grid-8 grid-8 grid-8 grid-8 grid-8 grid-8 grid-8 grid-8 grid-8 grid-8 grid-8 grid-8 grid-8 grid-8 grid-8 grid-8 grid-8";

	}
	@include to(575px) {
		grid-template-rows: 1fr .7fr;
	}
}

.grid-8-16 {
	display: grid;
	grid-template-columns: repeat(24, 1fr);
	grid-template-rows: 1fr;
	grid-auto-columns: 1fr;
	gap: 0 0;
	grid-auto-flow: row;
	grid-template-areas:
    "grid-8 grid-8 grid-8 grid-8 grid-8 grid-8 grid-8 grid-8 grid-16 grid-16 grid-16 grid-16 grid-16 grid-16 grid-16 grid-16 grid-16 grid-16 grid-16 grid-16 grid-16 grid-16 grid-16 grid-16";
	.grid-8 {
		grid-area: grid-8;
	}
	.grid-16 {
		grid-area: grid-16;
	}
	@include to(1024px) {
		display: flex;
		flex-direction: column-reverse;
		align-items: flex-start;
		.grid-16 {
			width: 100%;
		}
		.grid-8 {
			width: 100%;
		}
	}
}

.grid-10-12 {
	display: grid;
	grid-template-columns: repeat(10, 1fr) var(--field) repeat(12, 1fr) var(--field);
	grid-template-rows: 1fr;
	grid-auto-columns: 1fr;
	gap: 0 0;
	grid-auto-flow: row;
	grid-template-areas:
    "grid-10 grid-10 grid-10 grid-10 grid-10 grid-10 grid-10 grid-10 grid-10 grid-10 . grid-12 grid-12 grid-12 grid-12 grid-12 grid-12 grid-12 grid-12 grid-12 grid-12 grid-12 grid-12 .";
	.grid-10 {
		grid-area: grid-10;
	}
	.grid-12 {
		grid-area: grid-12;
	}
	@include to(1024px) {
		grid-template-columns: 39px 1fr 39px;
		grid-template-rows: repeat(2, auto);
		grid-template-areas:
						". grid-10 ."
						". grid-12 .";
	}
	@include to(575px) {
		grid-template-columns: var(--field) 1fr var(--field);
	}
}

.grid-12-12 {
	display: grid;
	grid-template-columns: repeat(24, 1fr);
	grid-template-rows: 1fr;
	grid-auto-columns: 1fr;
	gap: 0 0;
	grid-auto-flow: row;
	grid-template-areas:
    "grid-12-left grid-12-left grid-12-left grid-12-left grid-12-left grid-12-left grid-12-left grid-12-left grid-12-left grid-12-left grid-12-left grid-12-left grid-12-right grid-12-right grid-12-right grid-12-right grid-12-right grid-12-right grid-12-right grid-12-right grid-12-right grid-12-right grid-12-right grid-12-right";
	.grid-12-left {
		grid-area: grid-12-left;
		@include to(1024px) {
			width: 100%;
		}
	}
	.grid-12-right {
		grid-area: grid-12-right;
		@include to(1024px) {
			width: 100%;
		}
	}
	@include to(1024px) {
		display: flex;
		flex-direction: column;
		align-items: flex-start;
	}
}

.title {
	font-family: 'BPG';
	font-size: var(--title-font);
	font-weight: 400;
	line-height: 90%;
	color: $wc;
	text-align: left;
	text-transform: uppercase;
	&.line-h {
		line-height: 110%;
		font-size: var(--geo-font);
		&.cubic-hover {
			@include from(1023px) {
				&:hover {
					span {
						transform: translateY(100%);
					}
					&:after {
						transform: translateY(1.15em);
					}
				}
			}
		}

	}
}

.light-text {
	font-family: 'BPG';
	font-size: var(--font24);
	font-weight: 400;
	line-height: 140%;
	color: $wc;
	text-transform: uppercase;
	text-align: left;
	width: auto;
}

.dark-text {
	font-family: 'BPG';
	font-size: var(--font24);
	font-weight: 400;
	line-height: 140%;
	color: $bc;
	text-transform: uppercase;
	text-align: left;
}

.white-text36 {
	font-family: 'BPG';
	font-size: var(--font36);
	font-weight: 400;
	line-height: 140%;
	color: $wc;
	text-transform: uppercase;
	text-align: left;
}

.white-text64 {
	font-family: 'BPG';
	font-size: var(--font64);
	font-weight: 400;
	line-height: 90%;
	color: $wc;
	text-transform: uppercase;
	text-align: left;
}

.first-screen {
	height: 70vh;
	overflow: hidden;
	@include to(575px) {
		height: 75vh;
	}
	&.grid-16-8 {
		@include to(1024px) {
			grid-template-rows: 100%;
			grid-template-areas:
        "grid-16 grid-16 grid-16 grid-16 grid-16 grid-16 grid-16 grid-16 grid-16 grid-16 grid-16 grid-16 grid-16 grid-16 grid-16 grid-16 grid-16 grid-16 grid-16 grid-16 grid-16 grid-16 grid-16 grid-16";
		}
	}
	.grid-16 {
		img {
			height: 100%;
			object-fit: cover;
		}
	}
	.grid-8 {
		@include to(1024px) {
			display: none;
		}
	}
	&-text {
		position: absolute;
		top: 271px;
		left: var(--field);
		@include to(1600px) {
			top: 184px;
		}
		@include to(575px) {
			top: 111px;
		}
	}
	&-right {
		position: relative;
		overflow: hidden;
		background-color: $blue;
		&-logo {
			position: absolute;
			bottom: 0;
			left: 0;
			z-index: 0;
			width: 100%;
			height: auto;
		}
	}
}

@include to(1024px) {
	.mobile-row {
		flex-direction: row;
	}
	.mob-h-100 {
		height: 100%;
	}
	.mob-w-50 {
		width: 50%;
	}
	.desktop {
		display: none!important;
	}
	.mobile-img-h {
		height: 450px;
		object-fit: cover;
	}
}

@include from(1023px) {
	.mobile {
		display: none;
	}
}

@include to(575px) {
	.desktop-2 {
		display: none!important;
	}
	.mob-w-50 {
		width: 100%;
	}
	.mobile-img-h {
		height: 320px;
	}
}

@include from(574px) {
	.mobile-2 {
		display: none;
	}
}

.ge-lang {
	.title {
		line-height: 115%;
		&.location-screen-list-item-num-offset {
			line-height: 90%;
		}
	}
	.white-text64 {
		line-height: 115%;
	}
}
