$default-font: "BPG", sans-serif;

$wc: #fff;
$bc: #000;
$green: #5DBA51;
$blue: #0CAECC;
$mint: #00B09C;


:root {
  --header-footer-font: 24px;
  --font16: 16px;
  --font24: 24px;
  --font36: 36px;
  --font64: 64px;
  --title-font: 120px;
  --geo-font: 100px;

  --offset300: 300px;
  --offset150: 150px;
  --offset50: 50px;
  --offset30: 30px;
  --offset20: 20px;
  --field: 98px;

  --logo-h: 105px;
  --logo-h2: 85px;
  --logo-w: 200px;
  --logo-w2: 162px;

  --btn: 80px;
}

@media screen and (max-width: 1600px) {
  :root {
    --header-footer-font: 16px;
    --font16: 12px;
    --font24: 16px;
    --font36: 24px;
    --font64: 45px;
    --title-font: 86px;
    --geo-font: 82px;


    --offset300: 215px;
    --offset150: 110px;
    --offset50: 30px;
    --offset30: 20px;
    --offset20: 16px;
    --field: 75px;

    --logo-h: 74px;
    --logo-h2: 60px;
    --logo-w: 141px;
    --logo-w2: 118px;

    --btn: 80px;
  }
}

@media screen and (max-width: 1440px) {
  :root {
    --geo-font: 78px;
    --btn: 60px;
  }
}

@media screen and (max-width: 1024px) {
  :root {
    --header-footer-font: 16px;
    --title-font: 64px;
    --geo-font: 64px;

    --offset300: 150px;
    --offset150: 160px;
    --offset50: 20px;
    --field: 20px;

    --logo-h: 62px;
    --logo-h2: 62px;
    --logo-w: 120px;
    --logo-w2: 120px;
  }
}

@media screen and (max-width: 575px) {
  :root {
    --font36: 16px;
    --font64: 24px;
    --title-font: 36px;
    --geo-font: 36px;

    --offset150: 80px;
    --field: 17px;

    --logo-h: 47.53px;
    --logo-w: 92px;
    --btn: 36px;
  }
}

@media screen and (max-width: 360px) {
  :root {
    --title-font: 28px;
    --geo-font: 28px;
  }
}
