#id-page-404 {
  .header {
    background: #00B09CCC;
    padding: 10px 0;
    border-top: 3px solid $wc;
    border-left: 3px solid $wc;
    border-right: 3px solid $wc;
    .header-left-logo img {
      height: var(--logo-h2);
      width: var(--logo-w2);
      @include to(575px) {
        height: var(--logo-h);
        width: var(--logo-w);
      }
    }
    @include to(575px) {
      padding: 6px var(--field);
      border: none;
    }
  }
}
.page404-wrap {
  height: 100vh;
  width: 100%;
  &-dog {
    position: absolute;
    left: var(--field);
    bottom: 0;
    z-index: 1;
    height: 793px;
    width: auto;
    @include to(1600px) {
      height: 700px;
    }
    @include to(1024px) {
      height: 475px;
      left: 50%;
      transform: translateX(-50%);
    }
    @include to(575px) {
      height: 250px;
    }
  }
  .grid-8 {
    height: 100%;
    width: 100%;
    background: $green;
    @include to(1024px) {
      display: none;
    }
  }
  .grid-16 {
    height: 100%;
    width: 100%;
    background: $blue;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    @include to(1024px) {
      align-items: center;
      justify-content: flex-start;
    }
  }
  .page404 {
    &-logo {
      position: absolute;
      right: 0;
      bottom: 0;
      z-index: 0;
      height: auto;
      width: 923px;
      @include to(1600px) {
        width: 612px;
      }
      @include to(1024px) {
        width: 100%;
      }
    }
    &-text {
      z-index: 2;
      margin-left: 250px;
      @include to(1600px) {
        margin-left: 185px;
      }
      @include to(1024px) {
        margin-top: 181px;
        margin-left: 0;
        display: flex;
        flex-direction: column;
        align-items: center;
      }
      @include to(575px) {
        margin: 98px var(--field) 0;
      }
      .head-screen-title {
        margin-bottom: var(--offset50);
        @include to(1024px) {
          margin-bottom: 40px;
        }
        @include to(575px) {
          margin-bottom: 20px
        }
      }
      .concept-text {
        margin: 10px 0 var(--offset50);
        @include to(1024px) {
          margin: 10px 0 40px;
          text-align: center;
        }
        @include to(575px) {
          margin: 10px 0 20px;
        }
      }
      .link-wrap {
        display: flex;
        align-items: center;
        justify-content: flex-start;
        .header-3d {
          margin-right: 60px;
          &:last-child {
            margin-right: 0;
          }
          @include to(1600px) {
            margin-right: 35px;
          }
        }
        @include to(1024px) {
          width: 100%;
          justify-content: center;
        }
      }
    }
  }
}
