footer {
  background-color: $blue;
  position: relative;
  overflow: hidden;
  .footer-logo {
    position: absolute;
    right: 0;
    bottom: 0;
    z-index: 0;
    height: auto;
    width: 923px;
    @include to(1600px) {
      width: 656px;
    }
  }
}
.footer {
  padding-top: var(--offset150);
  padding-bottom: 90px;
  display: grid;
  grid-template-columns: repeat(23, 1fr) var(--field);
  grid-template-rows: 1fr;
  grid-auto-columns: 1fr;
  gap: 0 0;
  grid-auto-flow: row;
  grid-template-areas:
          "footer-menu footer-menu footer-menu footer-menu footer-menu footer-menu footer-menu footer-menu footer-menu footer-menu footer-menu footer-menu footer-links footer-links footer-links footer-links footer-links footer-links footer-links footer-links footer-links pageup pageup .";
  &-menu {
    z-index: 1;
    grid-area: footer-menu;
  }
  &-links {
    z-index: 1;
    grid-area: footer-links;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    li {
      margin-bottom: var(--offset20);
      &:last-child {
        margin-bottom: 0;
      }
    }
  }
  .pageup {
    z-index: 1;
    grid-area: pageup;
    height: var(--btn);
    width: var(--btn);
    border-radius: 100%;
    justify-self: flex-end;
    position: relative;
    background: $green;
    svg {
      height: var(--btn);
      width: var(--btn);
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
    }
    @include from(1023px) {
      cursor: pointer;
      &:before {
        content: '';
        background: $wc;
      }
    }
  }
}

.footer-bottom {
  display: grid;
  grid-template-columns: repeat(23, 1fr) var(--field);
  grid-template-rows: 1fr;
  grid-auto-columns: 1fr;
  gap: 0 0;
  grid-auto-flow: row;
  grid-template-areas:
          ". . . . . . . . . . . . footer-bottom-text footer-bottom-text footer-bottom-text footer-bottom-text footer-bottom-text footer-bottom-text footer-bottom-text footer-bottom-text footer-bottom-text smarto smarto .";
  &-text {
    z-index: 1;
    grid-area: footer-bottom-text;
    font-family: 'BPG';
    font-size: var(--font16);
    font-weight: 400;
    line-height: 140%;
    color: $bc;
    text-transform: uppercase;
    text-align: left;
    align-self: start;
  }
  .smarto {
    z-index: 1;
    grid-area: smarto;
    width: var(--btn);
  }
}

.footer-text {
  font-family: 'BPG';
  font-size: var(--header-footer-font);
  font-weight: 400;
  line-height: 140%;
  color: $bc;
  text-transform: uppercase;
  text-align: left;
}
