.menu-wrap{
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  width: 100%;
  height: 100vh;
  visibility: hidden;
  opacity: 0;
  background-color: $blue;
  &.active {
    visibility: visible;
    opacity: 1;
  }
  &-nav {
    padding: var(--offset50) 0 var(--offset50) 19px;
    ul {
      height: 100%;
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      justify-content: space-between;
      li {
        z-index: 101;
      }
    }
    &-logo {
      position: absolute;
      right: 0;
      bottom: 0;
      z-index: 100;
      @include to(1600px) {
        width: 656px;
        height: 436px;
      }
    }
  }
  &-right {
    img {
      height: 100%;
      object-fit: cover;
    }
    &-contacts {
      background-color: $bc;
      ul {
        position: absolute;
        left: 82px;
        top: 70px;
        li {
          margin-top: var(--offset20);
          &:first-child {
            margin-top: 0;
          }
          @include to(1600px) {
            margin-top: 12px;
          }
        }
        @include to(1600px) {
          top: var(--offset50);
          left: 50px;
        }
      }
    }
  }
}
.menu-close {
  position: absolute;
  right: var(--field);
  top: 79px;
  height: var(--btn);
  width: var(--btn);
  border-radius: 100%;
  background-color: $green;
  @include to(1600px) {
    top: 37px;
  }
  @include from(1024px) {
    cursor: pointer;
  }
  .line-wrapper {
    position: relative;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    span {
      background-color: $wc;
      height: 2px;
      width: 30px;
      transform: rotate(45deg);
      @include to(1440px) {
        width: 22px;
      }
    }
    .first-line {
      margin-bottom: -2px;
      transform: rotate(-45deg);
    }
  }
}
